*.exe
*.hex
*.bin
*.map
*.log
*.elf
*.ihex
*.dep
*.swp
*.py
*.pyc
*.pbm
*.o
tags
objs/
objs.native/
unittest/screen/
build/Debug
build/Retail
build/Settings
build/watchCustomSfr.sfr
build/*.txt
objs.msp430/
objs.native/
*.sublime-project
*.sublime-workspace
objs.msp430watch.d43
objs.msp430watch.txt
Makefile.msp430.local
buildlocal.bat
