<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FactoryTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <FactoryTest.Properties.Settings>
            <setting name="BLUETOOTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FLASHING" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="SPIFLASH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="I2C" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CODEC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MPU6050" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FONT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ANT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BACKLIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MOTOR" serializeAs="String">
                <value>0</value>
            </setting>
        </FactoryTest.Properties.Settings>
    </userSettings>
</configuration>
